<h2>Alignment Classification</h2>
<h3>Input</h3>
<section id="submit">
  <form action="/" method="post">
    <textarea cols="100" rows="20" name="content" placeholder="Your data&hellip;"><% if !@content.empty? %><%= @content %><% end %></textarea>
    </br>
    <input type="submit" value="Run">
  </form>
</section>

<h3>Output</h3>