<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>
<h2>Alignment Classification</h2>
<h3>Input</h3>
<section id="submit">
  <form action="/" method="post">
    <textarea cols="100" rows="20" name="content" placeholder="Your data&hellip;"><% if !@content.empty? %><%= @content %><% end %></textarea>
    </br>
    <input type="submit" value="Run">
  </form>
</section>

<h3>Output</h3>
<% @data_output.each_with_index do |phase|%>
  <table style="width:30%; border: 1px solid black;border-collapse: collapse;">
    <tr>
      <td style="border: 1px solid black;border-collapse: collapse;">
        <%= phase[0]%>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black;border-collapse: collapse;">
        <%= phase[1]%>
      </td>
    </tr>
    <tr>
      <td style="border: 1px solid black;border-collapse: collapse;">
        <%= phase[2]%>
      </td>
    </tr>
  </table>
  </br>
<%end%>